{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}
<li> <a href='{{instance.get_absolute.url}}'> {{instance.title}}</a> </li>
{% endblock %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if instance.image %}
        <img src='{{ instance.image.url }}' class='img-responsive' />
    {% endif %}
    <h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></h1>

    {% if instance.user.get_full_name %}
        <p>Author: {{ instance.user.get_full_name }}</p>
    {% endif %}
    <div class='row'>
        <div class='col-sm-12 '>
            <div class='post-detail-item'>{{ instance.content }}</div>
        </div>
    </div>
    <hr/>
    <br/>

{% endblock content %}

